body {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  background-color: #5f87b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
}

#title {
  margin-top: 0;
  border-radius: 0px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  /* border-bottom: 1px solid white; */
  font-weight: 500;
  background-color: #3c608c;
  color: white;
  text-align: center;
}
#container {
  padding: 30px 150px;

  background-color: white;
  border-radius: 50px;
  height: 500px;
}
h4 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
#textbox {
  border: none;
  appearance: none;
  background: #5f87b8;
  color: white;
  padding: 12px;
  border-radius: 25px;
  width: 350px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#textbox::placeholder {
  color: white;
  font-size: 15px;
}
#textbox:focus {
  outline: none;
  border: none;
  appearance: none;
}

#button-cont {
  border-bottom: 1px solid #ccc;
}

#temp-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#temp-cont h3 {
  flex-grow: 0;
}
#temp1 {
  margin-right: 30px;
  font-size: 25px;
  font-weight: bold;
}
#temp2 {
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
}
#city {
  font-weight: 500;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#location-container {
  display: flex;
  justify-content: center;
}
#condition {
  font-size: 20px;
  font-weight: bold;
}
#wind {
  font-weight: 500;
  font-size: 20px;
}
